.skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip-path: inset(50%);
}


.skip-link:focus-visible {
    white-space: normal;
    overflow: visible;
    clip-path: none;
    z-index: 400;
    position: fixed;
    left: 28rem;
    top: 2rem;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--cadastro-color);
    border-radius: 1rem;
    outline: 3px solid var(--input-border); 
}


