.painel-cadastro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 2;
    grid-row: 1;
    z-index: 30;
    background-color: var(--cadastro-background);
    color: var(--text-color);
}

.painel-cadastro-ativo {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.painel-cadastro-inativo {
    opacity: 0;
    visibility: hidden; 
    transform: translateX(100%);
}

.form-cadastro-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
}

.form-cadastro-section {
    position: relative;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    border: none;

}

.cadastro-title {
    display: flex;
    margin: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: var(--text-color);
    font-size: 2.8rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip-path: inset(50%);
}


.container-erro {
    display: flex;
    align-items: flex-start; 
    gap: 0.7rem;
    margin-top: 0.8rem;
    color: var(--error-color);
    width: 30rem;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
}


.container-erro .icone {
    font-style: normal; 
    background-color: var(--error-color);
    color: var(--cadastro-background);
    border-color: 2px solid var(--error-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    flex-shrink: 0;  /* Impede que o ícone deforme caso o texto seja muito longo */
    font-weight: bold;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-cadastro-erro {
    color: inherit;
    max-width: 100%;
    display: block;
    font-size: 1.3rem;
}
