@import url('https://googleapis.com'); 

:root { 
    --login-background:#1F2937; 
    --cadastro-background: #374151; 
    --button-background: #88003F; 
    --input-background: #1F2937; 
    --input-border: #E5E7EB; 
    --text-color: #F3F4F6; 
    --button-text-color: #F3F4F6;
    --error-color: #F2B8B5; 
} 

html.modo-claro { 
    --login-background: #CDD2DC;    
    --cadastro-background: #E3E7ED;   
    --input-background: #F0F2F5;     
    --input-border: #717A8A;         
    --text-color: #0F1824;           
    --button-background: #A6004E;   
    --button-text-color: #FFFFFF; 
    --error-color: #A00303;
  
} 

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;  
} 

html { 
    font-size: 62.5%;  
    height: 100%; 
} 

#root { 
    height: 100%; 
} 

body { 
    font-size: 1.6rem; 
    overflow: hidden; 
    font-family: "Open Sans", sans-serif; 
    background-color: var(--login-background);
} 

body:has(.container.modo-login) #alternar-tema {
    background-color: var(--cadastro-background);
    border-color: var(--cadastro-background);
}

input, button { 
    font-family: inherit; 
}

.container {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 100%;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

.painel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}


.painel-cadastro, .painel-login, .painel-boas-vindas { 
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, background-color 0.6s ease-in-out, outline 0.6s ease-in-out, visibility 0.6s; 
} 


.painel-boas-vindas { 
    background-color: var(--cadastro-background); 
    outline: 1px solid var(--cadastro-background); 
    z-index: 2;
} 

.painel-cadastro { 
    background-color: var(--cadastro-background); 
    z-index: 1;
} 

.painel-login { 
    background-color: var(--login-background); 
    z-index: 1;
} 

.texto-cadastro-ativo { 
    opacity: 1; 
    transform: translateX(0); 
    visibility: visible; 
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; 
} 

.texto-login-ativo { 
    opacity: 0; 
    transform: translateX(-50%); 
    visibility: hidden; 
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; 
} 

/* TRANSIÇÕES QUANDO O MODO LOGIN ATIVA */
.container.modo-login .texto-cadastro-ativo {  
    opacity: 0;  
    transform: translateX(50%);  
    visibility: hidden;  
}  

.container.modo-login .texto-login-ativo {  
    opacity: 1;  
    transform: translateX(0);  
    visibility: visible;  
} 

.container.modo-login .painel-cadastro {  
    opacity: 0;  
    pointer-events: none;  
    transform: translateX(100%);  
    z-index: 1;  
    visibility: hidden;  
}  


.container.modo-login .painel-boas-vindas { 
    transform: translateX(calc(150%)); 
    background-color: var(--login-background); 
    outline: 1px solid var(--login-background);
    z-index: 1; /* Força o painel escuro a ir para trás dos inputs */
} 

.container.modo-login .painel-login { 
    opacity: 1; 
    pointer-events: all; 
    transform: translateX(calc(-67% - 1px)); 
    z-index: 2; 
    visibility: visible; 
    background-color: var(--cadastro-background); 
    outline: 1px solid var(--cadastro-background);
} 

.container.modo-login .texto-cadastro-ativo { 
    opacity: 0; 
    transform: translateX(50%); 
    visibility: hidden; 
} 

.container.modo-login .texto-login-ativo { 
    opacity: 1; 
    transform: translateX(0); 
    visibility: visible; 
}

.container.modo-login ~ #rodape-ancora {
    transform: translateX(-40px); 
}

